<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
<head>
  <meta charset="utf-8" />
  <title>
    {% block title%}{{title}}{% endblock %}
  </title>
  <meta name="description" content="{{ gettext('TimeMapper') }}" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- offline use -->
  <!--
  <link href="/vendor/bootstrap/2.2.2/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap/2.2.2/bootstrap-responsive.css" rel="stylesheet">
  -->
  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  {% block extrahead %}{% endblock %}

  <!-- Custom CSS for the TimeMapper Online App -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="{% block bodyclass %}{{bodyclass}}{% endblock %}">
{% block navbar %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <a href="/" class="black">時間<span class="brand-ext">地圖</span></a> (Alpha)
      </div>
      <ul class="nav">
      </ul>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>
          <a href="https://groups.google.com/forum/#!forum/kuansim">{{ gettext('Contact Us') }}</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="https://github.com/kuansim/timemap/issues/new">{{ gettext('Report an Issue') }}</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="https://github.com/kuansim/timemap/blob/master/faq.md">常見問題</a>
        <li class="divider-vertical"></li>
        <li>
          <a href="https://github.com/kuansim/timemap/blob/master/disclaimer.md">免責聲明</a>
        </li>
        {% if currentUser %} 
        <li class="divider-vertical"></li>
        <li><a class="username" href="/{{currentUser.id}}"><i class="icon-user"></i> {{currentUser.id}}</a></li>
        <li><a class="logout" href="/account/logout" title="sign out"><i class="icon-signout"></i></a></li>
        {% else %}
        <li class="divider-vertical"></li>
        <li><a class="login" href="/account/login" title="login">使用Twitter登入</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

<div class="container">
<div class="content">

{% block content %}{{content}}{% endblock %}
  </div>
</div> <!-- /content -->
</div> <!-- / container-fluid -->

<div class="footer">
  {% block footer %}
<div class="container">
  修改自 <a href="http://okfnlabs.org/">Open Knowledge Foundation Labs</a> 的 <a href="http://timemapper.okfnlabs.org/"><strong>TimeMapper</strong></a> &ndash; <a href="https://groups.google.com/forum/#!forum/kuansim">{{ gettext('Contact Us') }}</a>.
  &ndash; 
  由 <a href="http://www.kuansim.com">Kuansim</a> 維護。
  {% endblock %}
</div>

<script type="text/javascript" src="/vendor/recline/vendor/jquery/1.7.1/jquery.js"></script>
<script type="text/javascript" src="/vendor/recline/vendor/underscore/1.4.4/underscore.js"></script>

<script type="text/javascript">
  // define global TM object and set some config
  var TM = TM || {};
  TM.locals = {
    currentUser: "{{currentUser.id}}"
  };
</script>

{% block extrabody %}{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52369527-1', 'auto');
  ga('require', 'displayfeatures');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>

</body>
</html>
