<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
<head>
  <meta charset="utf-8" />
  <title>
    {% block title%}{{title}}{% endblock %}
    - {{ gettext('TimeMapper - Make Timelines and TimeMaps fast!') }}
    - {{ gettext('from the Open Knowledge Foundation Labs') }}
  </title>
  <meta name="description" content="{{ gettext('TimeMapper - Make Timelines and TimeMaps fast! - from the Open Knowledge Foundation Labs') }}" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- offline use -->
  <!--
  <link href="/vendor/bootstrap/2.2.2/bootstrap.css" rel="stylesheet">
  <link href="/vendor/bootstrap/2.2.2/bootstrap-responsive.css" rel="stylesheet">
  -->
  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  {% block extrahead %}{% endblock %}

  <!-- Custom CSS for the TimeMapper Online App -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="{% block bodyclass %}{{bodyclass}}{% endblock %}">
{% block navbar %}
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">
        <a href="/" class="black">時間<span class="brand-ext">地圖</span></a> (Alpha)
      </div>
      <ul class="nav">
      </ul>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>
          <a href="https://groups.google.com/forum/#!forum/kuansim">{{ gettext('Contact Us') }}</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="https://github.com/kuansim/timemapper">{{ gettext('Report an Issue') }}</a>
        </li>
        <li>
          <a href="https://github.com/kuansim/timemapper">免責聲明</a>
        </li>
        {% if currentUser %} 
        <li class="divider-vertical"></li>
        <li><a class="username" href="/{{currentUser.id}}"><i class="icon-user"></i> {{currentUser.id}}</a></li>
        <li><a class="logout" href="/account/logout" title="sign out"><i class="icon-signout"></i></a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

<div class="container">
<div class="content">

{% block content %}{{content}}{% endblock %}
  </div>
</div> <!-- /content -->
</div> <!-- / container-fluid -->

<div class="footer">
  {% block footer %}
<div class="container">
  修改自 <a href="http://okfnlabs.org/">Open Knowledge Foundation Labs</a> 的 <a href="http://timemapper.okfnlabs.org/"><strong>TimeMapper</strong></a> &ndash; <a href="https://groups.google.com/forum/#!forum/kuansim">{{ gettext('Contact Us') }}</a>.
  &ndash; 
  {% endblock %}
</div>

<script type="text/javascript" src="/vendor/recline/vendor/jquery/1.7.1/jquery.js"></script>
<script type="text/javascript" src="/vendor/recline/vendor/underscore/1.4.4/underscore.js"></script>

<script type="text/javascript">
  // define global TM object and set some config
  var TM = TM || {};
  TM.locals = {
    currentUser: "{{currentUser.id}}"
  };
</script>

{% block extrabody %}{% endblock %}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33874954-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
